<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Regular.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>cairo.ttf</string>
		<string>cairo_light.ttf</string>
		<string>cairo_bold.ttf</string>
		<string>Somor-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
